*{
    margin: 0;
    padding: 0;
}

#cabecalho{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: unset;
    padding: 20px;
    background-color: rgb(185, 185, 255);
}

#caixa{
    border: black solid 2px;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    background-color: white;
}

#centro{
    text-align: center;
}

#espaco{
    padding: 170px;
}

#rodape{
    text-align: center;
    background-color:  rgb(185, 185, 255);
    padding: 40px;

}

#confirmar{
    border: solid 1px rgb(185, 185, 255);
    border-radius: 15px;
    background-color: rgb(185, 185, 255);
    width: 200px;
    height: 30px;
}
    
.azulin{
    color: rgb(185, 185, 255);
}

#escolha{
    width: 200px;
    height: 30px;
    border-radius: 10px;

}

/* #escolha:hover{
    background-color: rgb(185, 185, 255) ;
} */

#escolha:active{
    background-color: red ;
}

